html {
	background-color:#313131;
}


body {
	width: 90%;
	max-width: 1450px;
	min-width: 1000px;
	margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    background-color: white;
}

header {
	display:flex;
	justify-content:space-between;
	height:120px;
	padding-right: 30px;
}

header > img {
	height:50px;
	padding:50px 60px 0px;
}

header > nav > ul { 
	list-style-type: none; 
	margin: 0px;
	padding: 0px;
	position: relative;
}
header > nav > ul > li {
	display: inline-block;
	float: left;
	padding:50px 32px 0px;
	margin: 0px;
	/*width:150px;*/
}

header > nav > ul > li a,
header > nav > ul > li a:link,
header > nav > ul > li a:visited,
header > nav > ul > li a:active {
    font-size: 16px;
    text-decoration: none;
    color: black;
}

li.active {
	color:#0065FC;
	border-top:3px solid;
}

header > nav > ul > li.active a {
	color:#0065FC;
}

#signin {
	color:#0065FC;
	font-weight:bold;
}

/********************
 * 
 ********************/
#wrapper {
	padding:0 50px 50px 50px;
}

#search > h1 {
	margin: 20px 10px 10px 10px;
}

#search > span {
	margin: 0 10px 0 10px;
}

#search > form {
	margin: 20px 10px;
}

#search > .info {
	margin: 30px 0px;
}   


.map-marker {
    display: inline-block;
    width: auto;
    height: 20px;
    min-width: 16px;
    padding: 13px 20px 15px;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    background-color: #E5E5E5;
    border-radius:10px 0 0 10px;
    vertical-align: middle;
    border:1px solid #E5E5E5;
}

#form_search_ville {
    display: inline-block;
    height: 47px;
    width: 250px;
    font-weight:bold;
    font-size:20px;
    border-top:1px solid #E5E5E5;
    border-bottom:1px solid #E5E5E5;
    border-left:none;
    border-right:none;
    padding-left:10px;
    vertical-align: middle;

}

#form_search_bt {
    display: inline-block;
    height: 50px;
    background-color:#0065FC;
    color:white;
    font-size:22px;
    border: none;
    text-decoration: none;
    cursor:pointer;
    padding: 0 20px;
	border-radius: 0 10px 10px 0;
    vertical-align: middle;
}
#form_search_bt:hover {
    background-color:#DEEBFF;
    color:#0065FC;
}
 
#filters {
	font-weight:bold;
	font-size:18px;
	margin: 20px 10px;
}

#filters > .label {
	margin-right:10px;
}

#filters > .filter {
	display: inline-block;
	border: 1px solid #D0D0D0;
	padding-right: 20px;
	border-radius:25px;
	margin: 0 10px;
	cursor:pointer;
}

#filters > .filter:hover {
	color:#1E90FF;
}

.filter .fas {
	color:#0065FC;
	background-color: #deebff;
    border-radius: 50%;
    padding: 15px;
    margin-right: 20px;
    width: 20px;
    text-align: center;
}

.info .fa-info {
	color:#1E90FF;
	font-size: 14px;
    line-height: 16px;
}

.info .icon {
	text-align: center;
	float: left;
	width: 18px;
	height: 18px;
	border: 1px solid #D0D0D0;
	border-radius: 100%;
	margin-right: 7px;
	padding-bottom:2px;
}

#accommodations {
	width: 60%;
	height: 640px;
	float:left;
	/*position:static;*/
	background-color: #F2F2F2;
	border-radius: 20px;
	padding: 20px 30px; 
}

#accommodations_cards {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content:space-between;
	flex-wrap:wrap;
}
 
#accommodations_cards > article > .image {
	width: 100%;
	height: 150px;
	border-radius: 15px 15px 0 0;
}

#accommodations_cards > article {
	background-color: white;
	border-radius: 15px;
	border: 5px solid white;
	width: 30%;
	margin-bottom:30px;
	box-shadow: 5px 5px 12px #aaa;
	cursor:pointer;
}

#accommodations_cards > article > h4 {
	margin: 5px 0;
}

#accommodations_cards > article > h4,
#accommodations_cards > article > .prix,
#accommodations_cards > article > .stars {
	padding: 5px 10px 0;
}

#accommodations_cards > article > .prix {
	font-size: 14px;
}

.stars {
	font-size: 14px;
	color: #b1b4b9;
}

.stars .star {
	color: #0065FC;
}

#show_more {
	font-weight:bold;
	font-size:18px;
	padding: 10px 0 20px;
	cursor:pointer;
}

#show_more a,
#show_more a:link,
#show_more a:visited,
#show_more a:active {
    text-decoration: none;
    color: black;
}

#show_more a:hover,
a:hover {
    color: #1E90FF;
}
 
.image {
	background-size: cover;
	background-position: center center;
	/*width: 210px;
	height: 110px;*/
}

.image img {
	display: none;
}

aside {
	/*position: static;*/
	float: right;
	width: 28%;
	height: 640px;
	background-color: #F2F2F2;
	border-radius: 20px;
	padding: 20px 30px; 
}

aside > div {
	display:flex;
	justify-content:space-between;
	align-items:center;
}

aside > div > i {
	font-size:24px;
}

#aside_cards {
	display:flex;
	flex-direction:column;
	align-items:center;
}

#aside_cards h4 {
	padding: 10px 0 0;
	margin: 0 auto;
	display: inline-block;
    vertical-align:top;
}

#aside_cards > article {
	background-color: white;
	border-radius: 15px;
	border: 5px solid white;
	width: 90%;
	margin:0 20px 30px;
	box-shadow: 5px 5px 12px #aaa;
	cursor:pointer;
	display:flex;
	height: 30%;
}
 
#aside_cards > article > .image {
	height: 150px;
	width: 30%;
	border-radius: 15px 0 0 15px;
	margin-right: 20px;
}

#aside_cards > article > .content {
	height: 150px;
	width: 60%;
	display: flex;
	flex-direction:column;
	justify-content:space-between;
}

#aside_cards > article > .content h4 {
	width:100%;
}

#aside_cards > article > .content .prix {
	font-size: 14px;
	margin-top: 10px;
	width:100%;
}

#aside_cards > article > .content > .stars {
	height:30px;
	width:100%;
}

#accommodations_cards > article:hover,
#aside_cards > article:hover,
#activities article article:hover {
	box-shadow: 5px 5px 12px #1E90FF;
}

#activities {
	clear: both;
	width: 1350px;
	padding-top: 30px;
}
	
#activities_cards {
	width: 1350px;
    height: 500px;
	display:flex;
	justify-content:space-between;
}

#activities_cards article > .image {
	width: 100%;
	border-radius: 15px 15px 0 0;
}

#activities_cards > .one_article > article > .image {
	height: 450px;
}

#activities_cards > .two_articles > article > .image {
	height: 190px;
}

#activities_cards div {
	width:25%;
	height:100%;
	padding:0;
	margin-right:30px;
}

#activities_cards div:last-child {
    margin-right: 0;
}

#activities_cards article {
	width: 100%;
	background-color:white;
	border-radius: 15px;
	margin-bottom: 20px;
	box-shadow: 3px 3px 10px #aaa;
	cursor:pointer;
}

#activities_cards article:hover {
	box-shadow: 3px 3px 10px #1E90FF;
}

#activities_cards > .one_article > article {
	height: 500px;
}

#activities_cards > .two_articles > article {
	height: 240px;
}

#activities_cards article > h3 {
	padding-left: 20px;
	padding-bottom: 10px;
}	

/****************
 * Footer
 ****************/
footer {
	background-color: #F2F2F2;
	display: flex;
	justify-content: space-between;
	padding: 30px 50px;
}

footer > nav {
	position: static;
	width: 20%;
}

footer > nav > ul {
	list-style-type: none;
	list-style-position: outside;
	margin:0;
	padding:0;
}

footer > nav > ul > li {
	height:30px;
}

footer > nav > ul > li > a {
	text-decoration: none;
	color:black;
}

